::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500/50 */
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
